<div class="md:flex md:items-center md:justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
      Create User
    </h2>
  </div>
</div>
<%= form_with(scope: :user, url: company_users_path(current_user.company), local: true) do |form| %>
  <%= render 'form', form: form, button_text: 'Create' %>
<% end %>
