body.forcasting {
  .form-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffffff;
    border-color: #d2d6dc;
    border-width: 1px;
    border-radius: 0.275rem;
    padding-top: 0.1rem;
    padding-right: 0.25rem;
    padding-bottom: 0.1rem;
    padding-left: 0.25rem;
    font-size: .75rem;
    line-height: 1.25;
  }
}
